ENVIRONMENT=development
HOST=localhost
USER=postgres
PASSWORD=your-password-here
DBPORT=5432
DBNAME=yourdatabasename
PORT=8080
JWT_SECRET="your-jwt-secret-here"
JWT_EXPIRY="1"
EMAIL=your-email@example
EMAILPASSWORD="your-email-password-here"
EMAILUSERNAME="YourEmailUsername"